# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/client/node_modules
client/.pnp
/server/node_modules
serve/.pnp

# testing
/coverage
client/coverage
server/coverage

# production
/build
client/build
server/build

# misc
.DS_Store
.env.local
.env
client/.env
./server/.env
server/.env
/server/.env
server/.server.js
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
