.content_wrapper{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .content_wrapper{
        flex-direction: column;
    }
}