.canvas_wrapper{
    width: 250px;
    height: 100vh;
    padding: 30px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 6;
    box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
    -webkit-box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
    -moz-box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
    -o-box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
}
.canvas_open{
    display: block;
    animation: growOut .3s ease-in-out forwards;
    -webkit-animation: growOut .3s ease-in-out forwards;
    -moz-animation: growOut .3s ease-in-out forwards;
    -o-animation: growOut .3s ease-in-out forwards;
    transform-origin: center left;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.vertical_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 30px 0;
}
.vertical_menu li{
    position: relative;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.vertical_menu li:hover, .vertical_menu li a:hover{
    color: #FE4F70;
    transition: all .3s ease-in-out;
}
.social_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.social_icon_item:hover{
    cursor: pointer;
    color: #FE4F70;
    transition: all .3s ease-in-out;
}
.angle_icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    transform:rotate(0deg);
    /* -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg); */
    transition: all .3s ease-in-out;
}
.angle_open{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.vertical_submenu{
    display: none;
    list-style: none;
    padding: 10px;
    transition: all .3s ease-in-out;
}
.submenu_open{
    display: block;
    animation: growOut .3s ease-in-out forwards;
    -webkit-animation: growOut .3s ease-in-out forwards;
    -moz-animation: growOut .3s ease-in-out forwards;
    -o-animation: growOut .3s ease-in-out forwards;
    transform-origin: center left;
}
@keyframes growOut {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}